@import "tailwindcss";

@theme {
  --font-body: Inter, sans-serif;
  --font-heading: Montserrat, sans-serif;
  --color-background: oklch(92.8% 0.006 264.531);
  --spacing-body: 16px;
}

body {
  background-color: var(--color-background);
}
